@import "../../variables.scss";

.desc {
  color: #0ee88d;
}
.searchTextInput {
  border-radius: 1.875rem !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}
input.searchTextInput::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.button {
  min-width: 10.5rem !important;
  min-height: 1.75rem !important;
}
@media (min-width: $md) {
  .searchTextInput {
    max-width: 70%;
  }
}
