@import "../../variables.scss";

.nextIcon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  bottom: 60%;
  right: 330%;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.5rem);
}
.prevIconAr {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  bottom: 60%;
  left: 330%;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.5rem);
}
.prevIcon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  bottom: 60%;
  left: 1%;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.5rem);
}
.nextIconAr {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  bottom: 60%;
  right: 1%;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.5rem);
}
.button {
  min-width: 10.5rem !important;
  min-height: 1.75rem !important;
}
.carouselTitle {
  font-size: 2.5rem;
  color: $dark-green-cyan;
  font-family: $JosefinSansRegular;
}
.carouselPara {
  font-size: 1.125rem;
  color: $dark-green-cyan;
  font-family: $JosefinSansRegular;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// .gapCarousel {
//   min-height: 43rem;
// }
.imgDiv {
  & img {
    border: 1px solid #707070;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
  }
}
@media (min-width: $md) {
  .carouselTitle {
    width: calc(100% - 1.5rem);
  }
  .nextIcon {
    right: 500%;
    bottom: 20%;
  }
  .prevIconAr {
    left: 500%;
    bottom: 20%;
  }
  .prevIcon {
    bottom: 20%;
    left: unset;
  }
  .nextIconAr {
    bottom: 20%;
    right: unset;
  }
  .imgDiv {
    & img {
      width: 350px;
      height: 350px;
    }
  }
  // .gapCarousel {
  //   min-height: 23rem;
  // }
}

@media (min-width: $lg) {
  .carouselTitle {
    width: calc(100% - 3rem);
    font-size: 4rem;
  }
  .nextIcon {
    right: 533%;
    bottom: 1%;
    display: flex;
  }
  .prevIconAr {
    left: 533%;
    bottom: 1%;
    display: flex;
  }
  .prevIcon {
    bottom: 1%;
    display: flex;
  }
  .nextIconAr {
    bottom: 1%;
    display: flex;
  }
  .gapCarousel {
    min-height: 28rem;
  }
  .imgDiv {
    & img {
      width: 450px;
      height: 450px;
    }
  }
}
@media (min-width: $xl) {
  .gapCarousel {
    min-height: 32rem;
  }
}
@media (min-width: $xxl) {
  .nextIcon {
    right: 555%;
  }
  .prevIconAr {
    left: 555%;
  }
  .gapCarousel {
    gap: 7rem !important;
    min-height: 34rem;
  }
  .imgDiv {
    & img {
      width: 650px;
      height: 650px;
    }
  }
  .carouselTitle {
    width: calc(100% - 7rem);
  }
}
