@import "../../variables.scss";

.nextIcon {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 100%;
  right: 130%;
  top: -4.5%;
  display: none;
}
.prevIcon {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 100%;
  right: -210%;
  top: -4.5%;
  display: none;
}
.category {
  color: $very-dark-green;
  margin-bottom: 6.5rem !important;
}
.cGreen {
  color: $blue-Green;
}
.cDarkGreen {
  color: $very-dark-green;
}
.articleTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.articleDesc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.articleDescRight {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.link {
  border-bottom: 4px solid $blue-Green;
  width: fit-content;
}
.left {
  width: 100%;
  height: 100%;
  & > div {
    height: 40rem;
  }
  & img {
    width: 100%;
    max-height: 31rem;
    object-fit: contain;
  }
}
.right {
  width: 100%;
  height: 100%;
}
.rightCard {
  min-height: 22.3rem;
}
.containerCarousel {
  // min-height: 140vh;
}
.img {
  opacity: 0.27;
  top: 185%;
  right: 0%;
  z-index: 1;
}
.imgAr {
  opacity: 0.27;
  top: 185%;
  left: 0%;
  z-index: 1;
}
@media (min-width: $md) {
  .right {
    & img {
      width: 50%;
    }
  }
  .left {
    & > div {
      height: 46rem;
    }
  }
  .nextIcon {
    top: -7%;
    right: 0%;
  }
  .prevIcon {
    top: -7%;
    right: -480%;
  }
  .category {
    margin-bottom: 3rem !important;
  }
  .containerCarousel {
    // min-height: 145vh;
  }
  .img,
  .imgAr {
    top: 200%;
  }
}
@media (min-width: $lg) {
  .right {
    width: 50%;
    & img {
      max-height: 21.5rem;
    }
  }
  .left {
    width: 50%;
  }
  .articleDescRight {
    -webkit-line-clamp: 2;
  }
  .nextIcon {
    top: -16%;
    display: flex;
  }
  .prevIcon {
    right: -510%;
    top: -16%;
    display: flex;
  }
  .containerCarousel {
    // min-height: 60vh;
  }
  .img,
  .imgAr {
    top: 125%;
  }
}
@media (min-width: $xxl) {
  .articleDescRight {
    -webkit-line-clamp: 4;
  }
  .containerCarousel {
    // min-height: 70vh;
  }
  .left {
    height: 45rem;
  }
}
