@import "../../variables.scss";

.title {
  width: fit-content;
  margin: 4rem auto !important;
  font-size: 3rem;
  color: $dark-green-cyan;
}
.subTitle {
  color: $dark-green-cyan;
}
.details {
  color: $white;
  margin: 0;
}
.imgOverlay {
  display: flex;
  width: 100%;
  & img {
    width: 100%;
    height: fit-content;
  }
}
.aboutSubTitle {
  font-size: 1.5rem;
  color: $tom-thumb;
  font-family: $JosefinSansRegular;
  font-weight: bold;
  border-bottom: 1px $dim-gray solid;
  width: fit-content;
  position: relative;
}
.aboutdesc {
  font-size: 1.125rem;
  color: $tom-thumb;
  font-family: $JosefinSansRegular;
  width: 100%;
}
.img {
  opacity: 0.15;
  top: 60%;
  right: 0%;
  z-index: 1;
  width: 50%;
}
.imgAr {
  opacity: 0.15;
  top: 60%;
  left: 0%;
  z-index: 1;
  width: 50%;
}
@media (min-width: $md) {
  .title {
    font-size: 5rem;
  }
  .imgOverlay {
    position: absolute;
    // top: -13%;
    // right: 35%;

    & img {
      width: 100%;
    }
  }
  .aboutdesc {
    // max-width: 70%;
  }
  .img,
  .imgAr {
    top: 90%;
  }
}
@media (min-width: $lg) {
  .imgOverlay {
    // top: -17%;
  }
  .aboutdesc {
    // max-width: 60%;
  }
  .img,
  .imgAr {
    top: 80%;
  }
}
@media (min-width: $xxl) {
  .imgOverlay {
    // top: -25%;
  }
  .img,
  .imgAr {
    width: 40%;
  }
}
