@import "../../variables.scss";

.regularButton {
  background-color: #006548;
  // width: fit-content !important;
  color: #84C872;
  font-family: $JosefinSansRegular;
  font-weight: bold;
  // min-width: 12.5rem !important;
  // min-height: 3.75rem !important;
  border-radius: 15px;
}
@media (min-width: $md) {
  .regularButton {
    // min-width: 10.5rem !important;
    // min-height: 1.75rem !important;
  }
}
@media (min-width: $lg) {
  .regularButton {
    // min-width: 12.5rem !important;
    // min-height: 3.75rem !important;
  }
}
