@import "../../variables.scss";

.boxBg {
  margin-top: 3rem;
}
.title {
  width: fit-content;
  font-size: 2.5rem;
  color: $dark-green-cyan;
  font-weight: 600;
}
.subTitlePage {
  color: $dark-green-cyan;
  font-weight: 600;
}
.issueTitle {
  color: $dark-green-cyan;
}
.aboutdesc {
  font-size: 1.125rem;
  color: $tom-thumb;
  font-family: $JosefinSansRegular;
  width: 100%;
}
.footText {
  & .gold {
    color: $university-of-california-gold;
  }
}
.linkButton {
  width: 100%;
}
.pill {
  background-color: $dark-green-cyan;
}
.bgImage {
  object-fit: cover;
}
.imgOverlay {
  width: 50%;
  top: -5%;
  left: 30%;
  object-fit: contain;
}
.img {
  opacity: 0.1;
  top: 60%;
  right: 0%;
  z-index: 1;
}
.imgAr {
  opacity: 0.27;
  top: 60%;
  left: 0%;
  z-index: 1;
}
@media (min-width: $md) {
  .imgOverlay {
    width: 300px;
    height: 407px;
  }
  .boxBg {
    margin-top: 5rem;
  }
  .title {
    font-size: 4rem;
  }
  .imgOverlay {
    top: -5%;
  }
  .linkButton {
    width: 50%;
    margin-left: 5%;
  }
  .img,
  .imgAr {
    top: 100%;
  }
}
@media (min-width: $lg) {
  .imgOverlay {
    top: -24%;
    width: 217px;
    height: 297px;
    left: 24%;
  }
  .img,
  .imgAr {
    top: 65%;
  }
}
@media (min-width: $xxl) {
  .imgOverlay {
    top: -25%;
    width: 290px;
    height: 407px;
  }
}
