@import "../../variables.scss";

.box {
  width: 100%;
}
.label {
  color: $dark-green-cyan !important;
}
.input {
  border-color: $dark-green-cyan !important;
  color: $tom-thumb !important;
}
.btnSubmit {
  background-color: $university-of-california-gold !important;
  width: 100% !important;
  color: white !important;
}
@media (min-width: $md) {
  .box {
    width: 70%;
  }
}
@media (min-width: $lg) {
  .box {
    width: 60%;
  }
}
@media (min-width: $xl) {
  .box {
    width: 50%;
  }
}
