@import "../../variables.scss";

.box {
  width: 100%;
}
.label {
  color: $dark-green-cyan !important;
}
.input {
  border-color: $dark-green-cyan !important;
  color: $tom-thumb !important;
}
.btnSubmit {
  background-color: $university-of-california-gold !important;
  width: 100% !important;
  color: white !important;
}
.roundedIcon {
  background-color: #bb8635;
  border-radius: 50%;
  padding: 1rem;
  height: fit-content;
}
@media (min-width: $lg) {
  .box {
    width: 50%;
  }
}
