@import "../../variables.scss";

.pEthicsHtml {
  & h2 {
    color: $very-dark-green;
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 700 !important;
  }
}
@media (min-width: $xl) {
  .pEthicsHtml {
    & h2 {
      font-size: 1.5rem;
    }
  }
}
