@import "../../variables.scss";

.pageTitle {
  width: fit-content;
  font-size: 2rem;
  color: $dark-green-cyan;
}
input.placeholder::placeholder {
  color: $dark-green-cyan;
  opacity: 0.6;
}
.placeholder {
  font-size: 1rem;
}
.searchTextInput {
  border: 1px solid $dark-green-cyan !important;
  color: $tom-thumb !important;
}
.regularButton {
  width: fit-content !important;
  font-family: $JosefinSansRegular;
  font-weight: bold !important;
  border-radius: 1.875rem !important;
  font-size: 1rem;
}
.author {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.box {
  background-color: $pastel-gray;
  width: 100%;
}
.boxDesc {
  border-top: 0.1px solid rgba(45, 73, 40, 0.1);
  & p {
    color: $tom-thumb;
  }
}
.title {
  color: $very-dark-green;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pLink {
  & a {
    color: #0d6efd !important;
    line-break: anywhere;
  }
}
.footText {
  font-size: 0.9rem;
  & .gold {
    color: $university-of-california-gold;
  }
}
.pill {
  background-color: $university-of-california-gold;
  font-weight: 400;
  color: $white !important;
}
@media (min-width: $md) {
  .pageTitle {
    font-size: 5rem;
  }
  .placeholder {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .regularButton {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .searchTextInput {
    width: 70% !important;
  }
  .box {
    width: 100%;
  }
  .footText {
    font-size: 1rem;
  }
}
@media (min-width: $lg) {
  .searchTextInput {
    width: 50% !important;
  }
  .box {
    width: 49%;
  }
  .footText {
    font-size: 0.85rem;
  }
}
@media (min-width: $xxl) {
  .footText {
    font-size: 1rem;
  }
}
