@import "../../variables.scss";

.pill {
  background-color: transparent;
  width: 12rem;
  height: 3rem;
  color: $dark-green-cyan;
  cursor: pointer;
  z-index: 10;
}
.activePill {
  background-color: $dark-green-cyan !important;
  color: $white !important;
}
.link {
  color: $university-of-california-gold;
}
.cardBox {
  background-color: $pastel-gray;
  & h3,
  h4 {
    color: #042b20;
  }
}
.email {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
