@import "../../variables.scss";

.carouselTitle {
  font-size: 3rem;
  color: $dark-green-cyan;
}
.carouselPara {
  font-size: 1.125rem;
  color: $dark-green-cyan;
}
.darkGreen {
  color: $very-dark-green;
}
.nyanza {
  color: $nyanza;
  & a {
    color: inherit;
  }
}
.more {
  color: $blue-Green;
  opacity: 0.15;
  font-size: 3rem;
}
.link {
  color: $tom-thumb;
}
.titleCard {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.contactBox {
  background-image: linear-gradient(
    45deg,
    rgba(2, 9, 0, 0.85),
    $black-leather-jacket-green
  );
}
.nextIcon {
  width: 14rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  bottom: 1%;
  right: 0%;
  cursor: pointer;
  display: none;
}
.prevIcon {
  width: 14rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  bottom: 1%;
  left: 0%;
  cursor: pointer;
  display: none;
}
.imgCard {
  width: 230px;
  height: 185px;
  object-fit: cover;
}
.imgDiv {
  & img {
    border: 1px solid #707070;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
  }
}
@media (min-width: $md) {
  .imgDiv {
    & img {
      width: 350px;
      height: 350px;
    }
  }
  .nextIcon {
    width: 6rem;
    height: 2.5rem;
  }
  .prevIcon {
    width: 6rem;
    height: 2.5rem;
  }
  .more {
    font-size: 5.5rem;
  }
}
@media (min-width: $lg) {
  .carouselTitle {
    font-size: 4rem;
  }
  .nextIcon {
    height: 3rem;
    display: flex;
  }
  .prevIcon {
    height: 3rem;
    display: flex;
  }
  .imgDiv {
    & img {
      width: 450px;
      height: 450px;
    }
  }
}
@media (min-width: $xxl) {
  .nextIcon {
    height: 4rem;
  }
  .prevIcon {
    height: 4rem;
  }
  .imgDiv {
    & img {
      width: 650px;
      height: 650px;
    }
  }
}
