@import "../../variables.scss";

.viewAllArticle {
  padding: 8px 15px;
  // width: 120px;
  text-align: center;

  background-color: #006548;
  color: #84c872;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  border-radius: 15px;
}

.newsBackground {
  background: url("../../assets/images/news-background-word.svg") bottom no-repeat,
    url("../../assets/images/news-background.svg") repeat;
}

.viewMoreButton {
  // display: flex;
  // justify-content: end;
  // margin-top: 70px;
}

.imageSlideContent {
  display: flex;
  flex-direction: row;
}

.imageSlideContentAr {
  display: flex;
  flex-direction: row-reverse;
  h4 {
    text-align: right;
  }
}

.newsTitle {
  color: #006548;
  border-bottom: 3px solid #fff;
  width: 20%;
  text-align: center;
  margin: auto;
  font-size: 32px !important;
  font-weight: bold !important;
  padding-bottom: 0px;
  // width: fit-content;
  // margin: 4rem auto !important;
  // font-size: 3rem;
}
.titleCard {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #476a40;
}
.imgOverlay {
  display: flex;
  align-items: baseline;
  width: 95%;
  position: relative;
  & .innerImage {
    width: 7.5rem;
    height: 7.5rem;
    z-index: 2;
    backdrop-filter: blur(7.5px);
    right: 14%;
    bottom: 0%;
  }
}
.featured {
  width: 160px;
  height: 240px;
  border-radius: 15px;
  // object-fit: cover;
  // z-index: 1;
  // border-radius: 50%;
}
.imgOverlayAr {
  display: flex;
  align-items: baseline;
  width: 95%;
  position: relative;
  & .innerImage {
    width: 7.5rem;
    height: 7.5rem;
    z-index: 2;
    backdrop-filter: blur(7.5px);
    left: 14%;
    bottom: 0%;
  }
}
.imgCard {
  width: 130px;
  height: 170px;
  object-fit: cover;
}
.seeMore {
  background-color: $mantis;
  flex: 1;
  & p {
    margin-bottom: 0;
    width: min-content;
  }
}
.date {
  flex: 1;
  margin-bottom: 0;
  justify-content: inherit;
  display: flex;
  flex-direction: column;
  color: #74bb66;
}
.aboutSubTitle {
  font-size: 1.5rem;
  color: $tom-thumb;
  font-family: $JosefinSansRegular;
  font-weight: bold;
  // width: fit-content;
  // position: relative;
  // &::after {
  //   position: absolute;
  //   content: "";
  //   height: 1px;
  //   bottom: 0;
  //   left: 0;
  //   width: 105%;
  //   background: #476a40;
  //   opacity: 0.4;
  // }
}
.aboutdesc {
  font-size: 1.125rem;
  color: $tom-thumb;
  // font-family: $JosefinSansRegular;
  // width: 100%;
}
.contactBox {
  // background-image: linear-gradient(
  //   45deg,
  //   rgba(2, 9, 0, 0.85),
  //   $black-leather-jacket-green
  // );
  background: #fff;
  border-radius: 30px;
}
.nextIcon {
  position: absolute !important;
  top: 50%;
  right: -5% !important;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #84c872;
  // background-color: rgba(255, 255, 255, 0.2);
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  display: none;
  padding: 1rem;
  & img {
    width: 25px;
    height: 14px;
    object-fit: contain;
  }
}
.prevIcon {
  position: absolute !important;
  top: 50%;
  left: -1%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #84c872;
  // background-color: rgba(255, 255, 255, 0.2);
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  display: none;
  padding: 1rem;
  & img {
    width: 25px;
    height: 14px;
    object-fit: contain;
  }
}
.link {
  color: #476a40;
}
@media (min-width: $md) {
  .newsTitle {
    width: 10% !important;
  }
  .imgOverlay {
    right: -5%;
    top: -8%;
    width: 50%;
    position: absolute;
    & .innerImage {
      right: 23%;
      bottom: 10%;
    }
  }
  .imgOverlayAr {
    left: -5%;
    top: -8%;
    width: 50%;
    position: absolute;
    & .innerImage {
      left: 23%;
      bottom: 10%;
    }
  }

  .aboutdesc {
    // width: 50%;
    // min-height: 22rem;
  }
  .featured {
    // width: 300px;
    // height: 300px;
  }
}
@media (min-width: $lg) {
  .newsTitle {
    width: 10% !important;
  }
  .imgOverlay,
  .imgOverlayAr {
    top: -13%;
  }
  .aboutdesc {
    // max-width: 60%;
  }
  .nextIcon {
    display: flex;
  }
  .prevIcon {
    display: flex;
  }
  .featured {
    // width: 400px;
    // height: 400px;
  }
}
@media (min-width: $xxl) {
  .imgOverlay {
    top: -13%;
  }
  .imgOverlayAr {
    top: -13%;
  }
  .featured {
    // width: 550px;
    // height: 550px;
  }
}
