@import "../../variables.scss";

.webCode{
  display: none;
}

.ourServiceText{
  display: none;
}

.ourServDiv{
  cursor: pointer;
}

.headerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #006548;
  position: fixed;
  z-index: 555;
  width: 100%;
}

.header {
  font-size: 0.9rem;
  color: #086549;
  text-align: center;
  margin: 0;
  font-weight: 600;
}
.headBackground {
  // background-image:  url("../../assets/images/head-background.svg") !important;
  margin-top: 60px;
  padding: 100px 0px;
  background: url("../../assets/images/background-word.svg") left center no-repeat,
    url("../../assets/images/background-word.svg") right center no-repeat,
    url("../../assets/images/head-background.svg") repeat;
  // background: red !important;
}
.mainLogos {
  cursor: pointer;
}
.w30 {
  width: 30%;
}
.w33 {
  // width: 33%;
}
.plAuto {
  // padding-left: inherit;
}
.link {
  font-size: 1.125rem;
  font-family: $JosefinSansRegular !important;
  cursor: pointer;

  padding: 18px 40px;

  // color: #006548 !important;
  // padding: 20px 18px;
  position: relative;
  // border-right: 1px solid #006548;
}

.link::before {
  content: "";
  width: 1px;
  height: 40px;
  display: inline-block;
  background-color: #006548;
  vertical-align: middle;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.regularLi {
  & a {
    color: #006548 !important;
    // opacity: 0.7;
  }
}
.link2 {
  font-size: 0.9rem;
  color: $very-dark-green;
  font-family: $JosefinSansRegular !important;
  opacity: 0.7;
}
.navList {
  // padding: 1rem;
  background-color: #7fbe5c;
}
.border {
  object-fit: contain;
  width: 20%;
}
.boxGreen {
  color: $very-darkest-green;
  background-color: $mantis;
  width: fit-content !important;
  height: fit-content;
}
.imgClass {
  visibility: hidden;
}
.normalLi {
  // min-width: 20%;
  margin-bottom: 0.5rem;
  &:hover .imgClass {
    visibility: visible !important;
  }
}
.activeLi {
  & .imgClass {
    visibility: visible !important;
  }
  & a {
    color: white !important;
    background-color: #006548;
  }
  & a::before {
    content: "";
    width: 1px;
    height: 40px;
    display: inline-block;
    background-color: #006548;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.activeLiThree {
  & .imgClass {
    visibility: visible !important;
  }
}
.tabView {
  display: none;
}
.mobileView {
  display: block;
  margin-top: 60px;

  .link {
    font-size: 1.125rem;
    font-family: $JosefinSansRegular !important;
    cursor: pointer;
    padding: 10px 9px;
    // color: #006548 !important;
    // padding: 20px 18px;
    position: relative;
    // border-right: 1px solid #006548;
  }

  .link::before {
    content: none;
  }
}
.langSwitch {
  color: #10200c;
}
.img {
  opacity: 0.1;
  top: -2%;
  left: -13%;
  z-index: 1;
}
.imgAr {
  opacity: 0.1;
  top: -2%;
  right: -13%;
  z-index: 1;
}

.contactButton {
  font-size: 18px !important;
}

@media (min-width: $sm) {
}

@media (min-width: $md) {
  .boxGreen {
    width: 100%;
  }
  .w30 {
    width: 33%;
  }
  .tabView {
    display: block;
  }
  .mobileView {
    display: none;
  }
  .webCode{
    display: block;
  }
  .ourServiceText{
    display: block;
  }
  
}
@media (min-width: $lg) {
  .w30 {
    width: 30%;
  }
  .imgClass {
    width: 3rem;
  }
  .normalLi {
    min-width: unset;
    margin-bottom: 0rem;
  }
  .webCode{
    display: block;
    span{
      font-size: 14px !important;
    }
  }
  .ourServiceText{
    display: block;
  }
}
