@import "../../variables.scss";

.horizontalRectangle {
  display: flex;
  align-items: center;
}
.verticalRectangle {
}
.verticalRectangleAr {
}
.logo {
  height: 200px;
  width: 300px;
  object-fit: contain;
}
.verticalRectangleClone {
  display: none;
  transform: translateX(85%);
  z-index: 1;
  top: 3%;
}
.verticalRectangleCloneAr {
  display: none;
  transform: translateX(-85%);
  z-index: 1;
  top: 3%;
}
.section {
  margin-top: 5%;
  margin-bottom: 5%;
}
.subTitle {
  color: $dark-green-cyan;
}
.title {
  color: $dark-green-cyan;
  font-size: 1rem;
}
.label {
  color: $dark-green-cyan !important;
  font-weight: bold;
  text-align: center;
}
.input {
  border-color: $dark-green-cyan !important;
  color: $tom-thumb !important;
}
.group {
  border: 1px solid $dark-green-cyan;
  width: 100%;
}
.btnSubmit {
  background-color: $mantis !important;
  width: 100% !important;
  color: $very-darkest-green !important;
  font-weight: bold !important;
  min-height: 3.75rem !important;
  border-radius: 1.875rem !important;
}
.regularButton {
  background-color: $mantis !important;
  color: $very-darkest-green !important;
  font-weight: bold !important;
  border-radius: 1.875rem !important;
}
.footText {
  color: $mantis;
}
.mailBox {
  margin: 1rem -1rem 0 -1rem;
  background-color: $pine-tree;
  padding: 1.5rem 0;
}
@media (min-width: $md) {
  .title {
    font-size: 1.5rem;
  }
  .mailBox {
    margin: 1rem -3rem 0 -3rem;
  }
  .group {
    width: 33.2%;
  }
  .btnSubmit {
    min-height: 1.75rem !important;
  }
}
@media (min-width: $lg) {
  .regularButton {
    padding: 0.4rem !important;
  }

  .title {
    max-width: 40%;
  }
  .btnSubmit {
    min-height: 3.75rem !important;
  }
}
@media (min-width: 1024px) {
  .verticalRectangle {
    position: absolute;
    width: 50%;
    transform: translateX(80%);
    z-index: 2;
  }
  .verticalRectangleAr {
    position: absolute;
    width: 50%;
    transform: translateX(-80%);
    z-index: 2;
  }
  .section {
    height: 85rem;
  }
  .verticalRectangleClone {
    display: block;
  }
  .verticalRectangleCloneAr {
    display: block;
  }
  .horizontalRectangle {
    transform: translateY(50%);
    display: block;
    align-items: start;
  }
}
@media (min-width: $xl) {
  .section {
    height: 80rem;
  }
}
@media (min-width: $xxl) {
  .verticalRectangleClone {
    top: 4%;
  }
  .verticalRectangleCloneAr {
    top: 4%;
  }
}
