.rtl_show {
    transform: translateX(0%) !important;
    right: 0;
    // left: 0;
}

.ltr_show {
    transform: translateX(0%) !important;
    // right: 0;
    left: 0;
}


.ltr {
    transform: translateX(-100%) !important;
    left: 0;
}

.rtl {
    transform: translateX(100%) !important;
    right: 0;
}

.logoSec{
    border-bottom: 5px solid #7fbe5c;
}

.crossStyle{
    cursor: pointer;

    display: flex;
    justify-content: end;
    width: 100%;

    img{
        position: absolute;
        top:10px;
        right: 10px;
        height: 20px;
        width: 20px;
    }
}