@import "../../variables.scss";

.box {
  background-color: $pastel-gray;
}
.year {
  color: $university-of-california-gold;
}
.boxDesc {
  border-top: 0.1px solid rgba(45, 73, 40, 0.1);
  & p {
    color: $tom-thumb;
  }
}
