@import "../../variables.scss";

.boxesFooter {
  // width: 50% !important;
  padding-top: 2rem;
  h6{
    color: #84C872;
  }
  h6::before{
    content: url("../../assets/images/bullet-listing.svg");
    padding-right: 10px;
  }
}
.boxesFooterAr{
  h6{
    color: #84C872;
  }
  // width: 50% !important;
  padding-top: 2rem;
  h6::before{
    content: url("../../assets/images/bullet-listing.svg");
    padding-left: 10px;
  }
}

.footerBackground{
  background: url("../../assets/images/footer-green-word.svg") center no-repeat, url("../../assets/images/footer-green.svg") repeat;
}

.subscribeSection{
  background: url("../../assets/images/subscribe-background-word.svg") center no-repeat, url("../../assets/images/subscribeBackground.svg") repeat;
}

.inputHeadText{
  color: #006548;
  span{
    font-weight: bold;
  }
}

.searchTextInput {
  border-radius: 15px !important;
  border: 1px solid #006548 !important;
}
input.placeholder::placeholder {
  color: #006548;
  font-size: 1rem;
}
.boxesFooter {
  width: 100% !important;
  padding-top: 2rem;
}
.placeholder {
  font-size: 1rem;
}
.address {
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.contactBox {
  background: rgba(255, 255, 255, 0.02);

  & .contactButton {
    z-index: 10;
    margin: 0 auto;
  }
  & .contactTitle {
    font-family: $JosefinSansRegular;
    font-weight: bold;
    color: $white;
  }
  & .contactDesc {
    font-size: 1.125rem;
    font-family: $JosefinSansRegular;
    color: $tea-green;
  }
  & .contactTitleDiv {
    background-color: #276844;
  }
}
.hideImages {
  display: none;
}
.regularButton {
  background-color: #006548 !important;
  width: fit-content !important;
  color: #84C872 !important;
  font-family: $JosefinSansRegular;
  font-weight: bold !important;
  min-width: 3.5rem !important;
  min-height: 1.75rem !important;
  border-radius: 10px !important;
  font-size: 0.9rem;
}
.bgGreen {
  background-color: $nyanza;
  & p {
    color: $mantis;
  }
}
.title {
  font-size: 18px;
  font-weight: 600;
}
.postOffice {
  margin-left: 2.5rem;
  gap: 0rem;
}
.separator {
  height: 1rem;
  margin: 4rem 0;
}
@media (min-width: $md) {
  .hideImages {
    display: block;
  }
  .postOffice {
    gap: 1rem;
  }
  .contactBox {
    & .imgContact {
      width: 30%;
    }
    & .contactTitleDiv {
      width: 67%;
    }
  }
  .regularButton {
    min-width: 7.5rem !important;
    min-height: 1.75rem !important;
  }
  .placeholder {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .searchTextInput {
    max-width: 70%;
  }
  .separator {
    height: 1rem;
    margin: 6rem 0;
  }
}
@media (min-width: $lg) {
  .postOffice {
    margin-left: 2.5rem;
    gap: 5rem;
  }
  .address {
    width: 530px;
  }
  .contactBox {
    & .contactTitleDiv {
      width: 57%;
    }
    & .imgContact {
      width: 15%;
    }
  }
  .boxesFooter {
    width: auto !important;
  }
  .separator {
    height: 1rem;
    margin: 7rem 0;
  }
}
