@charset "utf-8";
@import "./variables.scss";
@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('./assets/fonts/JosefinSans-Regular.woff2') format('woff2'),
       url('./assets/fonts/JosefinSans-Regular.woff') format('woff'),
       url('./assets/fonts/JosefinSans-Regular.ttf')  format('truetype');    
}
body {
  font-family: $JosefinSansRegular !important;
  // background-image: url("./assets/images/bgImage.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
a {
  text-decoration: none !important;
  background-color: transparent;
}
a:hover,
a:visited,
a:focus {
  color: inherit !important;
}
input:focus,
textarea:focus,
select:focus input:hover,
textarea:hover,
select:hover {
  outline: none;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0px 0 #ddd;
}
button:focus {
  box-shadow: 0 0 0 0 rgb(255 255 255 / 25%) !important;
}
* {
  outline: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}
.react-tabs__tab--selected {
  background-color: $dark-green-cyan !important;
  color: $white !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #006548 !important;
  background-color: #D2DFCE !important;
  font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  font-weight: bold;
}

section,
footer,
a {
  z-index: 10;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
  color: transparent !important;
}
