// colors
$dark-green-cyan: #086549;
$very-dark-green: #042b20;
$very-darkest-green: #10200c;
$tom-thumb: #476a40;
$dim-gray: #707070;
$white: #fff;
$black-leather-jacket-green: #223d1b;
$tea-green: #d5ffcc;
$cambridge-blue: #abcfa4;
$crayola: #f6ca6d;
$nyanza: #e1ffd8;
$mantis: #74bb66;
$pastel-gray: #c5dcbe;
$university-of-california-gold: #bb8635;
$pine-tree: #293127;
$blue-Green: #0a4d3a;
// font family
$JosefinSansRegular:'JosefinSans-Regular', sans-serif;
// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
