@import "../../variables.scss";

.aboutBackground {
  background: url("../../assets/images/about-background.svg") repeat;
}

.aboutTopBackground {
  background: url("../../assets/images/background-word.svg") left bottom no-repeat,
    url("../../assets/images/background-word.svg") right bottom no-repeat,
    url("../../assets/images/head-background.svg") repeat;
}

.seemoreButton {
  text-align: end;
}

.insideImgBox {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    width: 150px !important;
  }
}

.zahidImage {
  // max-width: 100%;
  height: 320px;
  width: 250px;
  border-radius: 15px;
}

.aboutTitle {
  font-size: 3.125rem;
  color: $dark-green-cyan;
  font-family: $JosefinSansRegular;
  font-weight: bold;
}
.carouselPara {
  font-size: 1.125rem;
  color: $white;
  margin: 0;
  font-family: $JosefinSansRegular;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// .imgOverlay {
//   display: flex;
//   align-items: baseline;
//   width: 95%;
//   position: relative;
//   & .innerImage {
//     width: 7.5rem;
//     height: 7.5rem;
//     z-index: 2;
//     backdrop-filter: blur(7.5px);
//     right: 14%;
//     bottom: 0%;
//   }
// }
// .imgOverlayAr {
//   display: flex;
//   align-items: baseline;
//   width: 95%;
//   position: relative;
//   & .innerImage {
//     width: 7.5rem;
//     height: 7.5rem;
//     z-index: 2;
//     backdrop-filter: blur(7.5px);
//     left: 14%;
//     bottom: 0%;
//   }
// }
.seeMore {
  background-color: #84c872;
  padding: 8px 15px;
  border-radius: 10px;
  color: #006548;
  font-weight: bold;
}
.aboutSubTitle {
  font-size: 1.5rem;
  color: $tom-thumb;
  font-family: $JosefinSansRegular;
  font-weight: bold;
  width: fit-content;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    left: 0;
    width: 130%;
    background: #476a40;
    opacity: 0.4;
  }
}
.contactBox {
  // background-image: linear-gradient(
  //   45deg,
  //   rgba(2, 9, 0, 0.85),
  //   $black-leather-jacket-green
  // );
  & .contactButton {
    padding: 0px 20px;
    margin: 0 auto;
  }
  & .contactTitle {
    font-family: $JosefinSansRegular;
    font-weight: bold;
    color: #006548;
  }
  & .contactDesc {
    font-size: 1.125rem;
    font-family: $JosefinSansRegular;
    color: #006548;
  }
  & .contactTitleDiv {
    // background-color: #276844;
  }
}
.aboutdesc {
  font-size: 1.125rem;
  color: $tom-thumb;
  font-family: $JosefinSansRegular;
  // width: 100%;
}

@media (min-width: $md) {
  .zahidImage {
    max-width: 100%;
  }
  .imgArabic {
    margin-bottom: 6rem;
  }
  // .imgOverlay {
  //   right: 0;
  //   top: 1%;
  //   width: 50%;
  //   position: absolute;
  //   & .innerImage {
  //     right: 23%;
  //     bottom: 10%;
  //   }
  // }
  // .imgOverlayAr {
  //   left: 0;
  //   top: 1%;
  //   width: 50%;
  //   position: absolute;
  //   & .innerImage {
  //     left: 23%;
  //     bottom: 10%;
  //   }
  // }
  .contactBox {
    .imgContact {
      // background: url("../../assets/images/grey_box.svg");
      // width: 30%;
      img{
        width: 190px;
      }
    }
    & .contactTitleDiv {
      width: 67%;
    }
  }
  .aboutdesc {
    // max-width: 70%;
  }
}
@media (min-width: $lg) {
  // .imgOverlay {
  //   top: 4%;
  // }
  // .imgOverlayAr {
  //   top: 4%;
  // }
  .aboutdesc {
    // max-width: 60%;
  }
  .contactBox {
    & .contactTitleDiv {
      width: 75%;
    }
    & .imgContact {
      // width: 15%;
    }
  }
  .imgArabic {
    margin-bottom: 8rem;
  }
}
@media (min-width: $xxl) {
  // .imgOverlay {
  //   top: -10%;
  // }
  // .imgOverlayAr {
  //   top: -10%;
  // }
}
