@import "../../variables.scss";

.headBackground {
  background: url("../../assets/images/background-word.svg") left bottom no-repeat,
    url("../../assets/images/background-word.svg") right bottom no-repeat,
    url("../../assets/images/head-background.svg") repeat;
}

.articleeTitle {
  color: #006548;
  border-bottom: 3px solid #84C872;
  width: 20%;
  text-align: center;
  margin: auto;
  padding-bottom: 0px;
  // width: fit-content;
  // margin: 4rem auto !important;
  // font-size: 3rem;
}

.viewAllArticle {
  background-color: #84c872;
  padding: 8px 15px;
  border-radius: 10px;
  color: #006548;
  font-weight: bold;
  width: 120px;
  text-align: center;
}

.articleDiv::after {
  content: "";
  width: 50%;
  height: 1px;
  display: inline-block;
  background-color: #006548;
  vertical-align: middle;
}

.articleDesc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #006548;
}

.articleTitle {
  color: #006548;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    left: 0;
    width: 70%;
    background: white;
    opacity: 0.5;
  }
}
.articleTitleAr {
  color: #006548;
  text-decoration: none;
  position: relative;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    right: 0;
    width: 70%;
    background: white;
    opacity: 0.5;
  }
}
.categoryArticle {
  & .articleTitle {
    &::after {
      width: 30%;
    }
  }
  & .articleTitleAr {
    &::after {
      width: 30%;
    }
  }
}
.img {
  opacity: 0.7;
  top: 310%;
  right: 0%;
  z-index: 1;
}
.imgAr {
  opacity: 0.7;
  top: 310%;
  left: 0%;
  z-index: 1;
}
.articlesTitle {
  left: -5.2%;
  top: 24%;
  width: 8%;
}
.tabs {
  // margin-bottom: 1rem;
}
.categoryArticleTitle {
  color: #006548;
  text-decoration: none;
  position: relative;
  font-size: 0.9rem;
}
.categoryArticleTitleAr {
  text-decoration: none;
  position: relative;
  font-size: 0.9rem;
}
.articlesTitleImg {
  left: -3.7%;
  top: 24%;
  width: 7%;
  display: none;
}
.articlesTitleImgAr {
  right: -4.2%;
  top: 24%;
  width: 7%;
  display: none;
  transform: scaleX(-1);
}
.title {
  background-color: #d2dfce !important;
  // border-color: #dee2e6 #dee2e6 #fff;
  color: #006548 !important;
  // width: fit-content;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 0.25rem;
  width: 150px;
  text-align: center;
}
.articleCover {
 max-width: 100%;
  height: 450px;
  border-radius: 15px;
}
@media (min-width: $md) {
  .articleeTitle {
    width: 10% !important;
  }
  .img,
  .imgAr {
    top: 230%;
  }
  .articlesTitleImg,
  .articlesTitleImgAr {
    display: block;
  }
  .articleCover {
    // width: 380px;
    // height: 440px;
  }
}
@media (min-width: $lg) {
  .articleeTitle {
    width: 10% !important;
  }
  .img,
  .imgAr {
    top: 205%;
  }
  .articlesTitleImg {
    left: -4.1%;
  }
  .articlesTitleImgAr {
    right: -4.6%;
  }
  .articleCover {
    // width: 210px;
    // height: 275px;
  }
}
@media (min-width: $xl) {
  .tabs {
    // margin-bottom: 3.5rem;
  }
}
@media (min-width: $xxl) {
  .articleCover {
    // width: 450px;
    // height: 520px;
  }
  .articlesTitleImg {
    left: -5.2%;
    width: 8%;
  }
  .articlesTitleImgAr {
    right: -5.8%;
    width: 8%;
  }
  .categoryArticleTitle {
    &::after {
      width: 40%;
    }
  }
  .categoryArticleTitleAr {
    color: #006548;
    &::after {
      width: 40%;
    }
  }
  .categoryArticle {
    & .articleTitle {
      &::after {
        width: 60%;
      }
    }
    & .articleTitleAr {
      &::after {
        width: 60%;
      }
    }
  }
}
