@import "../../variables.scss";

.box {
  background-color: $pastel-gray;
  width: 100%;
}
.boxDesc {
  border-top: 0.1px solid rgba(45, 73, 40, 0.1);
  & p {
    color: $tom-thumb;
  }
}
.title {
  color: $very-dark-green;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.author {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pLink {
  & a {
    color: #0d6efd !important;
    line-break: anywhere;
  }
}
.footText {
  font-size: 0.9rem;
  & .gold {
    color: $university-of-california-gold;
  }
}
.pill {
  background-color: $university-of-california-gold;
  font-weight: 400;
  color: $white !important;
}
@media (min-width: $md) {
  .box {
    width: 100%;
  }
  .footText {
    font-size: 1rem;
  }
}
@media (min-width: $lg) {
  .box {
    width: 49%;
  }
  .footText {
    font-size: 0.85rem;
  }
}
@media (min-width: $xxl) {
  .footText {
    font-size: 1rem;
  }
}
