@import "../../variables.scss";

.privacyHtml {
  & ul {
    display: flex !important;
    flex-direction: column !important;
    padding-left: 0 !important;
    list-style: none !important;
    gap: 1.5rem !important;
    & li {
      color: $very-dark-green;
      max-width: 100%;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}

@media (min-width: $md) {
  .privacyHtml {
    & ul {
      gap: 3rem !important;
      & li {
        max-width: 95%;
      }
    }
  }
}
@media (min-width: $lg) {
  .privacyHtml {
    & ul {
      gap: 3rem !important;
    }
  }
}
